<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

    <!-- Page styles -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css"/>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/styleChat.css">
    <link rel="stylesheet" href="/css/material.green-purple.min.css"/>
    <link rel="stylesheet" href="/css/styleDetail.css"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-purple.min.css"/>
    <title th:replace="${title}">Android</title>
</head>
<body>


<div th:fragment="header" class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <p></p>
          </span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search-field"/>
            </div>
        </div>
        <!-- Navigation -->
        <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">

            </nav>
        </div>
        <span class="android-mobile-title mdl-layout-title">
              <p></p>
          </span>
        <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                id="more-button">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">Einstellungen</li>
            <li class="mdl-menu__item">Logout</li>
        </ul>
    </div>
</div>


<div th:fragment="menu" class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img class="android-logo-image" src="/img/Logo2_minimal_klein.png"/>
        </span>
    <div sec:authorize="isAuthenticated()">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Dashboard</a>
            <a class="mdl-navigation__link" href="/request">Neue Anfrage</a>
            <a class="mdl-navigation__link" href="/user">Profil</a>
            <a class="mdl-navigation__link" href="/chat">Chats</a>
            <a class="mdl-navigation__link" href="/achievements">Achievements</a>
            <a class="mdl-navigation__link" href="/settings">Einstellungen</a>
            <form th:action="@{/logout}" method="post" id="logoutForm">
                <input type="hidden" name="${_csrf.parameterName}"
                       value="${_csrf.token}"></input>
            </form>
            <script>
                function formSubmit() {
                    document.getElementById("logoutForm").submit();
                }
            </script>
            <a
                    href="javascript:formSubmit()" class="mdl-navigation__link"> Logout</a>
        </nav>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Startseite</a>
            <a class="mdl-navigation__link" href="/register">Registrieren</a>
            <a class="mdl-navigation__link" href="/login">Login</a>
        </nav>
    </div>
</div>

<div th:fragment="footer">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap dropdown -->
    <script type="text/javascript" src="/js/popper.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/my.js"></script>

    <script>
        new WOW().init();
    </script>

</div>


<div th:fragment="logout" class="logout" th:if="${#authentication != null}"
     sec:authorize="isAuthenticated()">
    Eingeloggt als: <span sec:authentication="name"></span> | Berechtigung: <span
        sec:authentication="principal.authorities"></span>
</div>
</body>
</html>