<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="base :: head(~{::title})">
<title>Hello</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <div th:replace="base :: header" />

    <div th:replace="base :: menu" />

    <div class="android-content mdl-layout__content">

    </div>

</div>
<div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">Wer kann das?</div>
    <div class="android-card-container mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp" th:each="request:${requestList}">
            <div class="mdl-card__media">
                <img src="img/more-from-1.png" />
            </div>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text" th:text="${request.title}" />
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead" th:text="${request.message}" />
            </div>
            <div class="mdl-card__actions">
                <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" th:href="@{/request/{requestId}(requestId=${request.pk})}">
                    Details
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
</div>

<div th:replace="base :: footer" />
</body>

</html>